numpy==1.24.4
omegaconf==2.1.2
diffusers==0.32.1
einops==0.8.0
h5py==3.11.0
hydra-core==1.1.1
imageio==2.31.3
matplotlib==3.7.5
natsort==8.4.0
pandas==2.0.3
PyYAML==6.0.2
scipy==1.10.1
torch==2.0.1
torchaudio==2.0.2
torchsummary==1.5.1
torchvision==0.15.2
tensorboard==2.12.0
tensorboard-data-server==0.7.2
mediapy==1.2.2
gym==0.26.2
gym-notices==0.0.8
gymnasium==0.29.1
pyquaternion==0.9.9
imgaug==0.4.0

